@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<p>Thank you for your contribution to my project.</p>
<p>If you would like to keep contributing, <a asp-area="" asp-controller="Home" asp-action="UploadPhotos">click here.</a></p>
<p>If you would like to be put on the email list to be notified when this website is up and running for coloring black and white images, <a asp-area="" asp-controller="Home" asp-action="EmailList">click here.</a></p>
