
@{
    ViewData["Title"] = "EmailThanks";
}

<div class="text-center">
    <h1>Thanks For Joinging The List!</h1>
    <p>Thanks for joining my email list to be notified when the model can successfully color a black and white image.</p>
    <partial name="_Thanks" />
</div>
