
@{
    ViewData["Title"] = "ImageThanks";
}

<div class="text-center">
    <h1>Thanks For Uploading!</h1>
    <p>Thanks for uploading some pictures to help my model train itself.</p>
    <partial name="_Thanks" />
</div>
