@{
    ViewData["Title"] = "Privacy";
}


<h1>@ViewData["Title"]</h1>

<p>I will not be looking at these pictures in any way.</p>
<p>These pictures are purely so my model can learn about colored image pixels and how they turn black and white.</p>
<p>Any questions please contact <a href="mailto: christophercoakley@kings.edu">christophercoakley@kings.edu</a>.</p>
